.grid {
  display: grid;
  width: 154px;
  grid-gap: 6rem;
  grid-template-columns: repeat(auto-fit, minmax(0rem, 1fr));
  align-items: start;
}
@media (max-width: 0em) {
  .grid {
    grid-gap: 3rem;
 }
}
.grid__item {
  background-color: #fff;
  border-radius: 0.4rem;
  overflow: hidden;
  box-shadow: 0 3rem 6rem rgba(0, 0, 0, .1);
  cursor: pointer;
  transition: 0.2s;
}
.grid__item:hover {
  transform: translateY(-0.5%);
  box-shadow: 0 4rem 8rem rgba(0, 0, 0, .2);
}
.card__img {
  display: block;
  width: 100%;
  height: 0px;
  object-fit: cover;
}
.card__content {
  padding: 0rem 2rem;
}
.card__header {
  font-size: 16px;
  font-weight: 500;
  color: #0d0d0d;
  margin-bottom: 0.5rem;
}
.card span {
  margin-left: 1rem;
  transition: 0.2s;
}
.card:hover, .card:active {
  background-color: #dce4ff;
}
