.header{
    background-image: url(../img/rectangle-headerBg.png);
    height: 50px;
    color: rgb(255,255,255);
    font-size: 16px;
    display: flex;
    align-items: center;
    padding: 0 8px;
}
.header span{
    font-size: 21px;
    margin-right: 6px;
}