/* *{
    background-color: white;
} */
.herodiv{
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
}
.heroimg{
   width: 96%;
    border-radius: 0.5rem;
   margin-top: 6px;
   
}
.homeimg{
    width: 100%;
    height : auto;
}