.product-card{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin: 19px 7px;
    /* border-radius: 8px; */
    background-color: var(--white);
}
.product-page a{
    display: block;
}
.product-card{
    box-shadow: 5px 15px 25px #ccc9c9;
    /* border-radius: 8px; */
}
.product-card img{
    border-top-left-radius: 8px;
    border-top-right-radius: 8px; 
    width: 98%;
    height: 400px;
    object-fit: cover;
}
.product-card h1{
    font-size: 32px;
    font-weight: bolder;
    color: var(--black);
    margin: 16px 108px;
}
.pass{
    position: relative;
}
.love-btn{
    position: fixed;
    bottom: 2rem;
    display: flex;
    background-color: var(--deep-sky-blue);
    border: 2px solid var(--deep-sky-blue);
    height: 55px;
    width: 90%;
    object-fit: contain;
    border-radius:27.5px;
    /* position: relative; */
    align-items: center;
    justify-content: center;
    font-family: Arial, Helvetica, sans-serif;
    margin-bottom: 20px;
}
.love-box{
    display: flex;
    align-items: center;
    justify-content: center;
}