.product-flow{
    /* position: relative; */
    background-color:var(--blue-bg);
    font-family: Arial, Helvetica, sans-serif;
}
.product-upper{
    background-color: var(--white);
}
.product-content{
    /* position: relative; */
    margin: 0;
    width: 100%;
}
.content{
    padding: 25px 10px 0 10px;
}
.padding{
    padding: 0 10px;
}
.prod-img{
    margin-top: 10px;
}
.prod-img img{
    width: 100%;
    height: 100%;
}
.product-desc{
    display: flex;
    flex-direction: column;
    color: var(--black);
}
.product-desc h1{
    font-size: 26px;
    margin-bottom: 7px;
    font-weight: 900;
}
.product-desc h4{
    color: var(--brownish-grey);
    font-size: 16px;
    display: flex;
    align-items: center;
}
.product-desc .price{
    color: rgb(57, 57, 57);
    font-size: 16px;
}
.product-desc p{
    font-size: 16px;
    width: 100%;
    margin: 9px 0;
    font-weight: 500;
    line-height: 1.13;
}
.delivery-box{
    margin: 13px 0;
}
.delivery{
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
    align-items: center;
}
.delivery h1{
    font-size: 16px;
    text-align: center;
}
.delivery p{
    font-size: 16px;
}

.wantBtn-Box{
    position: sticky;
    bottom: 20px;
    z-index: 2;
}
.wantBtn{
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: center
}
.wantBtn button{
    outline: none;
    cursor: pointer;
    border: none;
    background-color: var(--deep-sky-blue);
    padding: 9px 22px;
    font-size: 26px;
    color: var(--white);
    border-radius: 25px;
}
.scroll{
    position: sticky;
    bottom: 0;
    width: 96.4%;
    left: 0;
    background-color: var(--light-blue);
    display: flex;
    justify-content: space-around;
    padding: 39px 7px 0;
    height: 105px;
    margin: 0;
    overflow: hidden;
}
/* CROSS BUTTON */

.product-flow .cross{
    position: absolute;
    top: 10px;
    left: 18px;
    z-index: 2;
}

/* Product slider */
.slider-box .Prod-container{
    margin: 12px 12px 10px 8rem;
}


/* Ideal Slider */
.ideal-box{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    background-color: var(--white);
    width: 160px;
    height: 60px;
    margin: 5px 18px 19px 9px;
    padding: 2px 12px 2px 0px;
    border-radius: 8px;
    box-shadow: 0 3px 6px 0 var(--box-shadow);
}
.ideal-box span{
    font-size: 30px;
    margin:0 10px;
}
.ideal-box p{
    font-size: 14px;
    font-weight: 500;
    text-align: left;
    color: var(--black);
}
.ideal-text{
    font-size: 18px;
    margin-bottom: 5px;
    font-weight: bold;
}

/* Review Slider */
element.style{
    width: 0 !important;
}
.review{
    font-size: 18px;
    color: var(--black);
    margin-bottom: 8px;
    font-weight: bold;
}
.review-box{
    display: flex;
    flex-direction: column;
    /* align-items: center;
    justify-content: center;
    text-align: center; */
    width: 307px;
    height: 100px;
    padding: 10px 12px 7px;
    border-radius: 8px;
    background-color: var(--white);
    margin-bottom: 25px;
}

.review-box h1{
    font-size: 16px;
    color: var(--black);
    font-weight: 900;
}
.review-box span{
    font-size: 35px;
    margin-bottom: -15px;
    color: var(--deep-sky-blue);
    /* width: 14.9px;
    height: 14.2px; */
 }
.review-box p{
    font-size: 14px;
    font-weight: normal;
}