
.nr-input{
    display: flex;
    align-items: center;
    position: relative;
}

.nr-input span{
    display: flex;
    width: 26px;
    height: 17px;
    margin: 0 21px 0 0;
    font-family: Arial;
    font-size: 15px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 1;
    letter-spacing: normal;
    text-align: center;
    color: var(--light-blue);
}
.--{
    opacity: 0.55;
    font-family: Arial;
    font-size: 20px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 1;
    letter-spacing: 4px;
    text-align: center;
    color: var(--light-blue);
    position: relative;
    margin-top: 12px;
}
.white-box input{
    text-align: none;
}
.nr-input input{
    position: absolute;
    outline: none;
    border: none;
    /* text-align: left !important; */
    font-weight: lighter;
    transition: all 0.2s linear;
    left: 45px;
    bottom: 12px;
    width: 70% !important;
    letter-spacing: 2px;
    color: var(--light-blue);
}
