:root{
  --deep-sky-blue:#1e7af2;
  --light-blue:#2699fb;
  --bright-sky-blue:#18bdf7;
  --light-cyan:#a7e8ff;
  --powder-blue:#bce0fd;
  --blue-bg:#edf4fb;
  --light-blue:#e0ebf5;
  --white:#fff;
  --brownish-grey:#757575;
  --warm-grey:#707070;
  --black:#393939;
  --black-Two:#000000;
  --box-shadow:rgba( 0, 0, 0, 0.16);
}
body{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

*{
  margin: 0;
  padding: 0;
}

a{
  text-decoration: none;
}